<link rel="stylesheet" href="stylesheet/footer.css">
<div class="row row-r container-fluid">
    <div class="col-sm-4">
   <div class="mainlink"> MAIN LINKS<br></div>
   
    <div class="contact-1"><span class="fas fa-phone-square-alt"></span> &nbsp;Contact Us<br></div>
    <div class="contact-1"><span class="fas fa-info-circle"></span> &nbsp;ABOUT US<br></div> 
    <div class="contact-1"><span class="fas fa-blog"></span> &nbsp;Blogs</div> 
    
</div>
<div class="col-xs-1">
<div class="vl"></div></div>
    <div class="col-sm-3">
        <div class="mainlink">  SERVICES<br></div>
            <div class="contact-1"> <span class="fas fa-laptop"></span>&nbsp; WEB DEVELOPMENT<br></div>
                <div class="contact-1"><span class="fas fa-mobile"></span> &nbsp; MOBILE APP DEVELOPMENT<br></div>
                    <div class="contact-1"><span class="fas fa-people-arrows"></span> &nbsp; SOCIAL MEDIA MARKETING</div>
    </div>
    <div class="col-xs-1">
        <div class="vl"></div></div>
    <div class="col col-sm-3">
        <div class="mainlink"> CONTACT US<br></div>
            <div class="contact-1"> <span class="fas fa-map-marker-alt"></span> &nbsp;Baneshor,street 5,MD 2078,ktm <br></div>
                <div class="contact-1"><span class="fas fa-phone"></span> &nbsp;+9779846911944<br></div>
                    <div class="contact-1"><span class="fas fa-envelope-open-text"></span> &nbsp; itsolution.net</div>
        </div>
 
</div>
<div class="it"><a href="#">
    IT SOLUTION</a>
</div>
<div class="copyright">
© 2021 It Solution. All Rights Reserved.</div>

<script src="https://kit.fontawesome.com/d1c173056a.js" crossorigin="anonymous"></script>

</body>
</html>