<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/d1c173056a.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheet/header.css">
    <script src="/javascript/header.js"></script>
    <title>IT SOLUTION</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">&nbsp;&nbsp;IT SOLUTION </a>
                <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fas fa-bars navbar-toggler-icon"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right ">
                    <li class="nav-item"><a class="nav-link" href="/">HOME</a><span class="nav-underlink active"></span>
                    </li>
                    <li class="nav-item dropdown-server"><a class="nav-link" href="#">SERVICES</a><span
                            class="nav-underlink"></span>
                        <div class="dropdown-menu">
                            <div class="service-group">
                                <div class="row service-group-title"><a class="drop" href="#">BUSINESS SERVICES</a>
                                </div>
                                <div class="row">
                                    <div class="dropdown-card col-md-4">
                                        <div class="dropdown-card-title"><a href="#"><span class="fas fa-laptop"></span> 
                                                Website Development <span
                                                    class="fas fa-chevron-circle-right learn-more"></span></a>
                                            <div class="border-bottom"></div>
                                        </div>
                                        <div class="dropdown-card-description">Our team is here to develop simple to
                                            complex websites.</div>
                                        <div class="border-right"></div>
                                    </div>
                                    <div class="dropdown-card col-md-4">
                                        <div class="dropdown-card-title"><a href="#"><span class="fas fa-mobile"></span> 
                                                Mobile App Development <span
                                                    class="fas fa-chevron-circle-right learn-more"></span></a>
                                            <div class="border-bottom"></div>
                                        </div>
                                        <div class="dropdown-card-description">We do develop mobile applications for mobile devices.</div>
                                        <div class="border-right"></div>
                                    </div>
                                    <div class="dropdown-card col-md-4">
                                        <div class="dropdown-card-title"><a href="#"><span
                                                    class="fas fa-people-arrows"></span>  Software Development <span
                                                    class="fas fa-chevron-circle-right learn-more"></span></a>
                                            <div class="border-bottom"></div>
                                        </div>
                                        <div class="dropdown-card-description">We also provide all kind of software as per client's requirement. </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <br><br><br><br><br><br><br> -->
                            <div class="service-group">
                                <div class="row service-group-title"><a class="drop" href="#">INDIVIDUAL SERVICES</a>
                                </div>
                                <div class="row">
                                    <div class="dropdown-card col-md-4">
                                        <div class="dropdown-card-title"><a href="#"><span class="fas fa-book-reader"></span> Education <span
                                                    class="fas fa-chevron-circle-right learn-more"></span></a>
                                            <div class="border-bottom"></div>
                                        </div>
                                        <div class="dropdown-card-description">Our team is here to teach simple to
                                            complex website design.</div>
                                        <div class="border-right"></div>
                                    </div>
                                    <div class="dropdown-card col-md-4">
                                        <div class="dropdown-card-title"><a href="#"><span class="fab fa-cc-visa"></span> Visa and Migration <span
                                                    class="fas fa-chevron-circle-right learn-more"></span></a>
                                            <div class="border-bottom"></div>
                                        </div>
                                        <div class="dropdown-card-description">Our team is here to develop simple to
                                            complex websites.</div>
                                        <div class="border-right"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/membership">MEMBERSHIP</a><span
                            class="nav-underlink"></span></li>
                    <li class="nav-item"><a class="nav-link" href="/about">ABOUT US</a><span
                            class="nav-underlink"></span></li>

                    <li class="nav-item"><a class="nav-link" href="/contact">CONTACT US</a><span
                            class="nav-underlink"></span></li>
                </ul>
            </div>
            <!-- <div class="dropdown-menu"></div> -->
        </div>
    </nav>