<%-include('partials/header.ejs');%>
<link rel="stylesheet" href="stylesheet/about.css">

<section>
<div class="row row-text">
<div class="col-md-6">
<img class="row-img" src="https://images.unsplash.com/photo-1493119508027-2b584f234d6c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80">

</div>
<div class="col-md-4">
<div class="about">About Us___ </div>
<div class="inspire"> Inspiring Businesses With IT <br>Solutions</div>
<div class="detail">
  We understand an effective and efficient Business Process is key requirement for any business. Be it government organization or private organization the business process plays crucial role.<br><br>
  Business Process must be well-defined and systematic so that it can function itself but yet have to be easy and smooth so that people can execute with efficiently and effectively.<br><br>
  We design applications which meets your business criteria, stops flaws while system itself is flexible enough so that you can fine-tune to your needs.<br><br>
</div>
</div>

</div>
</section>
<div class="row row-add">
    <div class="col-lg-4">
       <div class="mission"> <i class="fas fa-atlas"></i> &nbsp; Our Mission</div>
     <div class="mission-text">
      To provide leadership and technical solutions to business needs and functions. To provide leadership in purchasing hardware and software to maximize value. To enhance communications, collaboration, and the flow of information. To provide the public access to County services and information in an efficient manner.
    </div>  
    </div>
    <div class="col-lg-5 vision-col">
        <div class="vision"> <i class="fas fa-eye"></i> &nbsp; Our Vision</div>
        <div class="vision-text">
        Our effort is endless to make Softbenz Infosys a systematic and qualitative company in the IT sector. Every business requires digital identification in today’s era. Digital marketing is not a luxury but a necessity for your brand identification. Website is the most reliable tool for digital marketing which is even suggested by legal authorities in the case of Nepal.     </div>
</div>
</div>
<div class="what">
What Makes us Different</div>
<div class="maindiff">
Comelite’s main difference is in its quality of work and experience:</div>
<ul class="points">
<li>We have vast experience in MENA region.</li>
<li>We have western quality and standards.</li>
<li>We provide excellent support and customer service.</li>
<li>We have senior team members with over 10 years of experience, and vast area of<br> expertise.</li>
</ul>
<div class="text-1">Our difference is that we care about our clients’ problems.<br>
We listen to what they have to say, and instead of selling an easy “out of the box” solution,<br>
 we pay attention to you, and then once we understand your pain then we can start to <br>
 formulate a plan.<br>
Working with you, we apply a mix of process, technology and people and arrive at a <br>
solution that is tailored to your requirements.<br>
We achieve the final results through our ability to provide the most flexible solutions in the<br>
 market, blending a number of concepts and technology solutions. We create<br>
  real value propositions that increase efficiency and lower costs.<br>
In Comelite, our client’s satisfaction is important to us so we help you from the beginning, in<br>
 planning, revising, testing, implementation, maintenance and even providing tutoring for <br>
 our solutions to help your business grow fast.<br>
We concentrate our efforts on completing your task with maximum efficiency and obtain <br>the best solution possible.
</div>


<div class="row">
  <div class="col-lg-6"></div>
  <div class="col-lg-6 col-text1">
    <div class="maindiff-1">
Every client has a unique story, goals and challenges.<br>
Therefore, beyond the development and deployment of technology solutions,<br>
 customer service should be complemented with consultation and interactive <br>
 planning.<br>
We have worked with many clients and we can help you put their experience to good<br>
 use.<br>
The three tenets of our working ethics are as follows:
<br>
<ul class="points-2">
<li>Timeliness</li>
<li>Quality</li>
<li>Cost efficiency</li>
</ul>
Long story short, it is our task to provide you with the best solution, in the least <br>
amount of time and at the lowest price.<br>
Above all, we believe that your success is our duty.<br>
That’s why we’ll be there to support you from start to finish… and beyond.</div>
</div>
</div>


<%-include('partials/footer.ejs');%>
<script src="https://kit.fontawesome.com/d1c173056a.js" crossorigin="anonymous"></script>
