<%-include('partials/header.ejs');%>
<link rel="stylesheet" href="stylesheet/contact.css">

<center>
<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1384&amp;height=617&amp;hl=en&amp;q=kathmandu&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    <a href="https://www.fnfgo.com/">Friday Night Funkin Mods</a></div></div></center>

 <div class="ktm">KTM</div> 
 <div class="details">
     <b>Address: </b>Baneshor,street 5,MD 2078,ktm <br><br>
    <b> Phone number: </b>+9779846911944<br><br>
     <b>Email: </b>itsolution.net

 </div>  
 <%-include('partials/footer.ejs');%>
