<%-include('partials/header.ejs');%>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="/stylesheet/index.css" />

<link rel="stylesheet" href="stylesheet/chat.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>




<div class="container-fluid">
  <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://images.unsplash.com/photo-1555581064-8ce820e50679?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
        <div class="overlay">
          <div class="text">
            RIDE IN THE ROAD TO RELAIZE<br/>YOUR ONLINE BUSINESS DREAMS
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://images.unsplash.com/photo-1535495649876-d51efb6f9931?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
        <div class="overlay">
          <div class="text">
            Even if you are on the right track, <br />you’ll get run over if you
            just sit there.
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://images.unsplash.com/photo-1616957348357-eb354203ba75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80" />
        <div class="overlay">
          <div class="text">
            Even if you are on the right track, <br />you’ll get run over if you
            just sit there.
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://images.unsplash.com/photo-1599634815922-783837212337?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" />
        <div class="overlay">
          <div class="text">
            It’s not about ideas.<br />
            It’s about making ideas happen..
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="row who-sec-row">
    <div class="col-sm-6 who-sec-title">
      <b> Who We Are</b><br />
      Our team is your team!
    </div>
    <div class="col-xs-1">
      <div class="vl-line2"></div>
    </div>
    <div class="col-md-4 who-sec-desc">
      One of our most valued honors is the trust, confidentiality and
      partnership clients put in our teams to build their future and business
      growth. Currently, our it soultions has its main headquarters based in Kathmaandu,
      Pokhara, and a branch in Chitwan and Jhapa.<br />
      <a href="#">Learn more >></a>
    </div>
  </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="service-head col-md-2">Business Services</div>
      </div>
      <div class="row services">
        <div class="col-md-1"></div>
        <div class="col-md-3 col-sm-12 service">
          <div class="row">
            <div class="title-img"><img src="https://crystalsolution.com.np/assets/images/services/website-dev.png" height="70px"
                alt="Website Development"></div>
          </div>
          <div class="row">
            <div class="service-title">Web Development</div>
          </div>
          <div class="row">
            <div class="service-description">Having a website is the first step to running an online business. A
              user-friendly responsive website with the right flow and structure
              will help better convey your message and encourage visitors to take
              action accordingly.Our teams offer you the right layout and design
              based on your industry. <br><a href="#">Read more >></a></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 service">
          <div class="row">
            <div class="title-img"><img src="https://crystalsolution.com.np/assets/images/services/mobile-app.png" height="70px"
                alt="Website Development"></div>
          </div>
          <div class="row">
            <div class="service-title">Mobile App Development</div>
          </div>
          <div class="row">
            <div class="service-description">An App is most demanding product of every one either its individaul or
              corporation. Now a days lots of people just access everything from
              their mobile and it is just become a habit. So we have also develop
              mobile phone application for both an android and ios platforms since
              2015.<br><a href="#">Read more >></a></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 service">
          <div class="row">
            <div class="title-img"><img src="https://crystalsolution.com.np/assets/images/services/soft-dev.png" height="70px"
                alt="Website Development"></div>
          </div>
          <div class="row">
            <div class="service-title">Software Development</div>
          </div>
          <div class="row">
            <div class="service-description">We also provide all kind of software as per client's requirement.
              Basically, we developed online softwares but if customers need then we
              can provide offline as well. We have a small but extremely strong and
              dedicated group whome can able to developed any kind of softwares.<br><a href="#">Read more >></a></div>
          </div>
        </div>
  
      </div>
  
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="service-head col-md-2">Individual Services</div>
      </div>
      <div class="row services">
        <div class="col-md-1"></div>
        <div class="col-md-3 col-sm-12 service">
          <div class="row">
            <div class="title-img"><img src="https://crystalsolution.com.np/assets/images/services/consultancy.png" height="70px"
                alt="Website Development"></div>
          </div>
          <div class="row">
            <div class="service-title">Education</div>
          </div>
          <div class="row">
            <div class="service-description">Technology is the mechanism, not the mission. While Software as a
              Service, the Internet of Things or Wi-Fi 6 deployments can help
              improve user access and reduce overall complexity, they’re not enough
              in isolation. Doyle puts it simply: “We’re not in the business of
              technology. We’re in the business of higher education. We are a
              support organization.<br><a href="#">Read more >></a></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 service">
          <div class="row">
            <div class="title-img"><img src="https://img.icons8.com/ios/50/000000/entrance-visa.png" height="70px"
                alt="Website Development"></div>
          </div>
          <div class="row">
            <div class="service-title">VISA AND MIGRATION</div>
          </div>
          <div class="row">
            <div class="service-description">Tailored to meet the requirements of visa issuing authorities and visa
              applicants, using simple intuitive designs in appropriate languages
              with timely updates and application status tracking, with all content
              pre-approved by visa issuing authorities.<br><a href="#">Read more >></a></div>
          </div>
        </div>
        
  
      </div>
  
    </div>
    
  <div class="container-fluid" style="margin-bottom: 40px;">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="service-head col-md-2">Latest Projects</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="image-1">
          <img class="img-1"
            src="https://images.unsplash.com/photo-1588620353536-ded12e518f45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
            alt="" /><i class="fas fa-search"></i>
        </div>
        <div class="down-text">Breath of Fresh Nurses</div>
        <div class="down-text2">Web Design</div>
      </div>
      <div class="col-md-4">
        <div class="image-1">
          <img class="img-1"
            src="https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
            alt="" />
          <i class="fas fa-search"></i>
        </div>
        <div class="down-text">International Airport</div>
        <div class="down-text2">Web Design</div>
      </div>
      <div class="col-md-4">
        <div class="image-1">
          <img class="img-1"
            src="https://images.unsplash.com/photo-1516905041604-7935af78f572?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            alt="" />
          <i class="fas fa-search"></i>
        </div>
        <div class="down-text">Nepal Trade Finance</div>
        <div class="down-text2">Web Design</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center" style="margin: 100px auto auto 20px">
      <div class="col col-md-5 thanks-image">
        <img class="img-responsive"
          src="https://images.unsplash.com/photo-1584438845569-c0d1948fd8b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" />
      </div>
      <div class="h3 col col-md-7 thanks-desc">
        " Thank you so much for your wonderful team and yourself to help on
        this project. So far,this is the best web development team I have
        worked with. I'm so happy to have your team and yourself to handel
        this project and I look forward to future collaborations. <br /><br />
        Your team demonstrated high professionalism,expertise and exceeded our
        expectations in every way. The turnaround time was fast and on time.
        Their communication was professional and courteous. "
        <div class="hero">
          <b>Bibesh Paudel</b><br />
          Director General -butwalcom
        </div>
        <!-- <div class="bots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
 -->
      </div>
    </div>
  </div>

  <div class="row row-text">
    <div class="col-md-6 wemaketext">
      <div class="wemake">_____WE MAKE IT HAPPEN</div>
      <div class="tools">Tools & Technologies</div>
      <div class="weuse">That We Use</div>
    </div>
    <div class="col-xs-1">
      <div class="vl-line3"></div>
    </div>

    <div class="col-md-4 col-text">
      Our It Solutions utilizes high-quality technical tools such as<br />
      WordPress, Laravel, CSS, Javascript, HTML My SQL, etc. <br />in order to
      provide you better business solutions.
    </div>
  </div>
  <div class="technology">
    <a href="" class="af" data-toggle="tooltip" data-placement="top" title="HTML"><span
        class="fab fa-html5"></span></a><br />
    <a href="" class="af" data-toggle="tooltip" data-placement="top" title="CSS">
      <span class="fab fa-css3-alt"></span></a><br />
    <a href="" class="af" data-toggle="tooltip" data-placement="top" title="JAVASCRIPT">
      <span class="fab fa-js-square"></span></a><br />
    <a href="" class="af" data-toggle="tooltip" data-placement="top" title="SASS">
      <span class="fab fa-sass"></span></a><br />
    <a href="" class="af" data-toggle="tooltip" data-placement="top" title="REACT">
      <span class="fab fa-react"></span></a>
    <br />
    <a href="" class="af" data-toggle="tooltip" data-placement="top" title="VUE JS">
      <span class="fab fa-vuejs"></span>
    </a>
  </div>
</div>
<%-include('partials/footer.ejs');%>


<div class="chat-bar-collapsible">
  <button id="chat-button" type="button" class="collapsible">Chat With Bot
      <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
  </button>

  <div class="content">
      <div class="full-chat-block">
          <!-- Message Container -->
          <div class="outer-container">
              <div class="chat-container">
                  <!-- Messages -->
                  <div id="chatbox">
                      <h5 id="chat-timestamp"></h5>
                      <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                  </div>

                  <!-- User input box -->
                  <div class="chat-bar-input-block">
                      <div id="userInput">
                          <input id="textInput" class="input-box" type="text" name="msg"
                              placeholder="Tap 'Enter' to send a message">
                          <p></p>
                      </div>

                      <div class="chat-bar-icons">
                          <span id="chat-icon" style="color: rgb(68, 63, 64);" class="fas fa-image"
                              onclick="heartButton()"></span>
                          <span id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                              onclick="sendButton()"></span>
                      </div>
                  </div>

                  <div id="chat-bar-bottom">
                      <p></p>
                  </div>

              </div>
          </div>

      </div>
  </div>

</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="javascript/responses.js"></script>
<script src="javascript/chat.js"></script>

<script src="javascript/index.js"></script>

